<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>PG</title>
  <meta name="description" content="stuff">
  <meta name="keywords" content="stuff">
  <link rel="icon" href="favicon.png" type="icon/png" />
  <link rel="stylesheet" href="css/plugins.css"/>
  <link rel="stylesheet" href="css/styles.css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="js/jquery.js"></script>
</head>
<body ng-app="comments" ng-controller="BlogsCtrl as commentList">
<!-- start header -->
<div class="login-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="login-header--statement">To gain access to all of the site’s features, please <a href="#login" title="login" class="fancybox link-login">login</a> using your MyDBS ID</div>
        <span class="js-close">Close</span>
      </div>
    </div>
  </div>
</div>
<header class="header-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="header-left"><span class="no-underline">Blog</span></h2>
        <a href="index.html" title="PG" class="branding-desktop"><img src="./images/branding.png" alt="PG"/></a>
        <h2 class="header-right"><a href="tell-piyush.html" title="Tell Piyush" class="menu-active">Tell Piyush</a></h2>
      </div>
    </div>
  </div>
</header>
<!-- end header -->


<section class="post-featured--media post-featured--comments">
  <div class="post-featured--banner">
    <img src="./placeholder/image-banner.jpg" />
  </div>
</section>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="post-intro">
        <h2>Consectetur adipiscing elit. Mauris nunc urna</h2>
        <p>Quisque maximus commodo eros sit amet sagittis. Donec ut dolor cursus, pulvinar purus eget, semper quam. Vestibulum id faucibus erat, eget tempus est. Praesent bibendum rhoncus convallis. Phasellus a metus eget turpis porta suscipit. Sed mattis vel urna ut pretium. Sed eu semper justo. Ut non orci ex. Phasellus in diam vitae mi dictum congue pellentesque quis dui. Morbi quis faucibus nunc. Etiam ex mauris, efficitur sit amet elit sed, lacinia rhoncus mauris.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-comment--box">
        <select class="page-comment--subject">
          <option>Subject</option>
        </select>
        <select class="page-comment--sort">
          <option>Sort</option>
        </select>
        <select class="page-comment--keywords">
          <option>Popular Keywords</option>
        </select>
        <select class="page-comment--archives">
          <option>Archives</option>
        </select>
        <form action="search.html" class="page-comment--search">
          <input type="text" placeholder="Search" class="field-search"/>
          <input type="submit" class="field-submit animate"/>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center searchNothing" ng-show="(commentList.comments |filter:searchBox).length == 0">No Results</div>
  <div class="row commment-item--wrap grid" id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
  
    <!-- repeater start-->
    <div class="col-md-4 comment-item--block grid-item grid-sizer comment-item--loader kindling {{x.class}}" ng-repeat="blog in commentList.comments | filter: searchBox | limitTo: limitComments" isotope-item>
      <div class="commment-item animate comment-item-Footer" ng-click='$emit("iso-method", {name:"layout",params:null});$emit("iso-option", {itemSelector: ".grid-item"})'>
        <div class="comment-item--details">
          <div class="comment-item--date">{{blog._date}}</div>
          <div class="more">
            <show-more text="blog._content" limit="200"> </show-more>
          </div>
          <a href="#{{blog._id}}comment" title="View" class="link-fancybox fancybox">View Response</a>
        </div>
        <div class="comment-item--footer clearfix">
          <a href="#{{blog._id}}comment" title="Comments" class="comment-item--commentlink fancybox">{{blog._commentnumber}} comments</a>
          <div class="comment-item--tagwrap">
            <span class="comment-item--tag">{{blog._tags}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- repeater ends -->
    
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="js-loadmore button-loadcomment animate" ng-click="loadMore()"><span>Click to load more</span></div>
    </div>
  </div>            

</div>

<div ng-repeat="blog in commentList.comments">
  <div id="{{blog._id}}comment" class="js-hide modal-comment">
    <div class="commment-item animate comment-item--nomargin">
      <div class="comment-item--details">
        <div class="comment-item--date">{{blog._date}}</div>
        <div class="more">
          <p>{{blog._content}}</p>
        </div>
      </div>
      <div class="comment-item--footer">
        <a href="#" title="Comments" class="comment-item--commentlink">{{blog._commentnumber}} comments</a>
        <a href="#" title="Comments" class="comment-item--commentlink">Post a reply</a>
        <div class="comment-item--tagwrap">
          <!-- no tags -->
        </div>
      </div>
      <div class="comment-modal--comments">
        <div class="comment-modal--piyush">Piyush Gupta</div>
        <div class="comment-modal--commentMain">{{blog._answer}}</div>
        <div class="comment-icon--reply">Post a reply</div>
      </div>
      <div class="comment-modal--otherComments">
        <div class="comment-modal--otherWrap">
          <div class="comment-modal--commentReply">{{blog._comment}}</div>
          <div class="comment-icon--reply">Post a reply</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- start footer -->
<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-8 footer-left">
      <ul>
        <li><a href="http://www.dbs.com/terms/default.page" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
        <li><a href="http://www.dbs.com/privacy/default.page" title="Privacy Policy">Privacy Policy</a></li>
        <li>&copy; 2016 DBS Bank Ltd</li>
        <li>Co.Reg. No. 196800306E</li>
      </ul>
    </div>
    <div class="col-md-4 footer-right">
      <span>Follow DBS on</span>
      <ul>
        <li><a href="https://www.youtube.com/dbs" title="Youtube" target="_blank">Youtube</a></li>
        <li><a href="https://www.linkedin.com/company/dbs-bank" title="Instagram" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/dbsbank" title="Twitter" target="_blank">Twitter</a></li>
        <li><a href="http://www.facebook.com/dbs.sg" title="Facebook" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>
<!-- end footer -->

<div id="login" class="js-hide modal-login">
  <div class="modal-login--header">
    Please login using your 1Bank ID
  </div>
  <div class="modal-login--content">
    <div class="modal-input--wrap">
      <label for="id">1 Bank ID</label><input type="text" id="id"/>
    </div>
    <div class="modal-input--wrap">
      <label for="password">Password</label><input type="password" id="password"/>
    </div>
      <input type="submit" value="Login" class="button button-red"/>
  </div>
</div>
  
<script src="./js/plugins.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/xml2json.min.js"></script>
<script src="./js/angular-xml.min.js"></script>
<script src="./js/angular-isotope.min.js"></script>
<script src="./js/xml.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>